<div class="reply-contents admin">
  <h4 class="h4">Admin Replies</h4>
  <div class="reply-box">
    <div class="reply_name d-flex">
      <div class="usr-img">
        <img src="../../../assets/img/user-img.jpg" alt="" />
      </div>
      <div class="usr-name">
        <p>User name</p>
        <span class="datetime small">2 days ago</span>
      </div>
    </div>
    <div class="reply_content">
      <div class="reply_content-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ab
        magni perferendis perspiciatis hic dicta iure nam voluptates
        doloribus earum.
      </div>
      <div class="reply_content-img">
        <div class="img-wrap">
          <img src="../../../assets/img/crop-manage.jpg" alt="" />
        </div>
        <div class="img-wrap">
          <img src="../../../assets/img/crop-manage.jpg" alt="" />
        </div>
        <div class="img-wrap">
          <img src="../../../assets/img/crop-manage.jpg" alt="" />
        </div>
        <div class="img-wrap">
          <img src="../../../assets/img/crop-manage.jpg" alt="" />
        </div>
      </div>

      <div class="reply-actions admin-reply">
        <a>Edit</a>
        <a>Delete</a>
        <a>Reply</a>
      </div>

      <div class="thread_replies">
        <div class="reply-box">
          <div class="reply_name d-flex">
            <div class="usr-img">
              <img src="../../../assets/img/user-img.jpg" alt="" />
            </div>
            <div class="usr-name">
              <p>User name2</p>
              <span class="datetime small">2 days ago</span>
            </div>
          </div>
          <div class="reply_content">
            <div class="reply_content-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam
              ab magni perferendis perspiciatis hic dicta iure nam
              voluptates doloribus earum.
            </div>
          </div>
        </div>

        <div class="reply-form">
          <form action="#" class="col form dashboard-form thread_form">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="comment-input" class="font-weight-normal"
                    >Write a Comment</label
                  >
                  <div class="comment-inputwrap">
                    <textarea
                      name="comment-input"
                      id="comment-input"
                      rows="3"
                      class="form-control"
                    ></textarea>
                    <div class="img-trigger">
                      <button
                        type="button"
                        title="Delete image"
                        class="profile-close preview-remove"
                      >
                        <span>✕</span>
                      </button>
                      <div class="image-preview replyImg-trigger">
                        <img
                          src="../../../assets/img/replyimg_placeholder.jpg"
                          alt="upload"
                        />
                      </div>
                    </div>

                    <div class="reply-file-fields d-none">
                      <input
                        type="file"
                        class="replyFile"
                        name="replyFile"
                        id="replyFile"
                      />
                      <input
                        type="checkbox"
                        class="replyFileLoaded"
                        id="replyFileLoaded"
                        name="replyFileLoaded"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="w-100"></div>

              <div class="col d-none">
                <div class="form-group">
                  <label for="comment-file" class="font-weight-normal"
                    >File</label
                  >
                  <div class="form-control">
                    <img
                      src="../../../assets/img/icon-upload.svg"
                      alt="upload"
                    />
                    <span
                      >Drop a file to add, or
                      <span class="text-primary">Choose File</span>
                    </span>
                  </div>
                  <input type="file" id="comment-file" class="d-none" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col d-flex">
                <button class="ml-auto btn btn-form-action">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>