<div class="title-main">
  <div class="title-left">
    <h2>
      <button class="btn btn-back" id="button-back" routerLink="/users">
        <img src="../../../assets/img/icon-arrow-back.svg" alt="back" />
      </button>
      Edit User
    </h2>
  </div>
</div>

<div class="content-area">
  <div class="user-edit-wrap">
    <form
      class="form dashboard-form"
      [formGroup]="userForm"
      (ngSubmit)="saveUser()"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex fg-order-name">
            <div class="form-group fg-name">
              <label for="name">Name</label>
              <input type="text" class="form-control" formControlName="name" />
              <!-- <span class="form-error">This field is required</span> -->
            </div>
          </div>

          <div class="col-md-6 fg-order-avatar">
            <div class="form-group">
              <input
                #avatarField
                type="file"
                class="hidden-input"
                accept="image/png, image/jpeg"
                (change)="onFileSelected($event)"
              />
              <div class="userimage-blob-wrap user-img-shown">
                <img
                  *ngIf="!userImage"
                  src="../../../assets/img/blank.png"
                  alt="avatar"
                  (click)="avatarField.click()"
                />
                <img
                  *ngIf="userImage"
                  [src]="userImage"
                  alt="avatar"
                  (click)="avatarField.click()"
                />
                <button
                  type="button"
                  title="Delete avatar"
                  class="profile-close"
                  (click)="clearAvatar(avatarField)"
                >
                  ✕
                </button>
                <div class="photo-icon-wrap">
                  <img src="../../../assets/img/photo-icon.svg" alt="icon" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="language">Language</label>
              <select class="form-control" formControlName="language">
                <option disabled [value]="null">Select Language</option>
                <option
                  *ngFor="let language of languages"
                  value="{{ language.id }}"
                >
                  {{ language.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="country">Country</label>
              <select class="form-control" formControlName="country">
                <option disabled [value]="null">Select Country</option>
                <option
                  *ngFor="let country of countries"
                  value="{{ country.id }}"
                >
                  {{ country.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <farm360-phone-code-dropdown
                    (selected)="setPhoneCode($event)"
                  ></farm360-phone-code-dropdown>
                </div>
                <input
                  type="text"
                  class="form-control phoneInput"
                  formControlName="phoneNumber"
                />
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for="password">Password</label>
            <div class="input-group">
              <input
                type="{{ showPassword ? 'text' : 'password' }}"
                class="form-control"
                formControlName="password"
              />
              <button type="button" class="btn" (click)="togglePassword()">
                <img src="../../../assets/img/edit.svg" alt="edit" />
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col d-flex">
            <button type="submit" class="ms-auto btn btn-form-action">
              Save
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
