* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;

  font-family: "Poppins", sans-serif;
}
.content-area {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}
a {
  color: #000;
  text-decoration: none;
  &:hover {
    color: #000;
    text-decoration: underline;
  }

  &.password-reset {
    font-size: 20px;
    @media screen and (max-width: 1679px) {
      font-size: 16px;
    }
    @media screen and (max-width: 1441px) {
      font-size: 14px;
    }
  }

  &.terms-link {
    opacity: 0.54;
    @media screen and (max-width: 1679px) {
      font-size: 14px;
    }
    @media screen and (max-width: 1441px) {
      font-size: 12px;
    }
  }

  &.link-primary {
    color: #0b7e14;
    font-weight: 600;
  }
}

// toaster customized
#liveToast {
  width: 400px;
  .toast-header {
    font-size: 13px;
  }
  .toast-body {
    font-size: 12px;
  }
  button.btn.btn-close {
    padding-left: 5px;
    padding-right: 5px;
  }
  &.toast.hide {
    transform: translateX(160%);
    transition: all ease 0.5s;
    display: block;
    animation: toast_hide 0.5s forwards;
  }
  &.toast.show {
    transition: all ease 0.5s;
    animation: toast_show 0.5s forwards;
  }
}

@keyframes toast_show {
  0% {
    transform: translateX(160%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes toast_hide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(160%);
  }
}

// error pages
.errorpages {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn {
    max-width: 320px;
    background-color: #455a64;
  }
}
.errorImg {
  width: 500px;
  max-width: 70vw;
}
