<div class="reply-contents user">
  <h4 class="h4">User Replies</h4>
  <div class="reply-box" *ngFor="let comment of getUserComments()">
    <div class="reply_name d-flex">
      <div class="usr-img">
        <img [src]="comment.created_by.image" alt="" />
      </div>
      <div class="usr-name">
        <p>
          {{
            comment.created_by.first_name + " " + comment.created_by.last_name
          }}
        </p>
        <span class="datetime small">{{ comment.created_at | timeAgo }}</span>
      </div>
    </div>
    <div class="reply_content">
      <div class="reply_content-text">
        {{ comment.description }}
      </div>
      <div class="reply_content-img">
        <div class="img-wrap" *ngFor="let image of comment.images">
          <img [src]="image" alt="" />
        </div>
      </div>

      <div
        class="reply-actions"
        *ngIf="canEdit(comment.created_by)"
        (click)="deleteComment(comment)"
      >
        <a>Delete</a>
      </div>
    </div>
  </div>
</div>
