<div class="reply-contents user">
  <h4 class="h4">User Replies</h4>
  <div class="reply-box">
    <div class="reply_name d-flex">
      <div class="usr-img">
        <img src="../../../assets/img/user-img.jpg" alt="" />
      </div>
      <div class="usr-name">
        <p>User name</p>
        <span class="datetime small">2 days ago</span>
      </div>
    </div>
    <div class="reply_content">
      <div class="reply_content-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ab magni
        perferendis perspiciatis hic dicta iure nam voluptates doloribus earum.
      </div>
      <div class="reply_content-img">
        <div class="img-wrap">
          <img src="../../../assets/img/crop-manage.jpg" alt="" />
        </div>
        <div class="img-wrap">
          <img src="../../../assets/img/crop-manage.jpg" alt="" />
        </div>
        <div class="img-wrap">
          <img src="../../../assets/img/crop-manage.jpg" alt="" />
        </div>
        <div class="img-wrap">
          <img src="../../../assets/img/crop-manage.jpg" alt="" />
        </div>
      </div>

      <div class="reply-actions">
        <a href="#" id="deletebtn">Delete</a>
      </div>
    </div>
  </div>

  <div class="reply-box">
    <div class="reply_name d-flex">
      <div class="usr-img">
        <img src="../../../assets/img/user-img.jpg" alt="" />
      </div>
      <div class="usr-name">
        <p>User name</p>
        <span class="datetime small">2 days ago</span>
      </div>
    </div>
    <div class="reply_content">
      <div class="reply_content-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ab magni
        perferendis perspiciatis hic dicta iure nam voluptates doloribus earum.
      </div>
      <div class="reply_content-img">
        <div class="img-wrap">
          <img src="../../../assets/img/crop-manage.jpg" alt="" />
        </div>
        <div class="img-wrap">
          <img src="../../../assets/img/crop-manage.jpg" alt="" />
        </div>
        <div class="img-wrap">
          <img src="../../../assets/img/crop-manage.jpg" alt="" />
        </div>
        <div class="img-wrap">
          <img src="../../../assets/img/crop-manage.jpg" alt="" />
        </div>
      </div>
      <div class="reply-actions">
        <a href="#" id="deletebtn">Delete</a>
      </div>
    </div>
  </div>
</div>
