<farm360-app-header></farm360-app-header>

<div class="sidebar sidebar-show-lg">
  <ul class="nav nav-sidebar">
    <li routerLink="/dashboard" routerLinkActive="active">
      <a>
        <span class="menu-icon"
          ><img src="../../assets/img/dashboard.svg" alt=""
        /></span>
        <span class="menutext">Dashboard</span>
      </a>
    </li>
    <li>
      <a>
        <span class="menu-icon"
          ><img src="../../assets/img/community.svg" alt=""
        /></span>
        <span class="menutext">Community Management</span>
      </a>
    </li>
    <li routerLink="/users" routerLinkActive="active">
      <a>
        <span class="menu-icon"
          ><img src="../../assets/img/user.svg" alt=""
        /></span>
        <span class="menutext">User Management</span>
      </a>
    </li>
    <li routerLink="/crops" routerLinkActive="active">
      <a>
        <span class="menu-icon"
          ><img src="../../assets/img/crop_management.svg" alt=""
        /></span>
        <span class="menutext">Crop Management</span>
      </a>
    </li>
    <li>
      <a>
        <span class="menu-icon"
          ><img src="../../assets/img/diagnosis.svg" alt=""
        /></span>
        <span class="menutext">Diagnosis Management</span>
      </a>
    </li>
    <li>
      <a>
        <span class="menu-icon"
          ><img src="../../assets/img/virtual.svg" alt=""
        /></span>
        <span class="menutext">Virtual Farming Management</span>
      </a>
    </li>
    <li>
      <a>
        <span class="menu-icon"
          ><img src="../../assets/img/notifications.svg" alt=""
        /></span>
        <span class="menutext">Notifications</span>
      </a>
    </li>
  </ul>

  <ul class="nav nav-account-actions">
    <li>
      <a (click)="logout()">
        <span class="menu-icon"
          ><img src="../../assets/img/logout.svg" alt=""
        /></span>
        <span class="menutext">Logout</span>
      </a>
    </li>
  </ul>
</div>
<div class="main">
  <div class="content-area-main">
    <router-outlet></router-outlet>
  </div>
</div>
