<div class="crop-info-form" [formGroup]="cropStagingFormGroup">
  <div class="wrapped-field-inputs">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="select_type" class="crop-info-label">Select Type</label>
          <select
            class="form-control select_type"
            name="select_type"
            id="select_type"
            (change)="selected($event)"
          >
            <option value="VC">Video & Content</option>
            <option value="C">Content</option>
            <option value="V">Video</option>
          </select>
        </div>
        <div class="form-group" *ngIf="infoType !== 'C'">
          <label for="comment-file" class="crop-info-label">File</label>
          <input
            type="file"
            id="comment-file"
            accept="video/*"
            (change)="onVideoSelected($event)"
          />
        </div>
        <ng-container *ngIf="infoType !== 'V'">
          <div class="form-group">
            <label for="crop_title" class="crop-info-label">Title</label>
            <input
              type="text"
              class="form-control"
              name="crop_title"
              id="crop_title"
              formControlName="title"
            />
            <span
              *ngIf="
                cropStagingFormGroup.get('title')?.touched &&
                cropStagingFormGroup.get('title')?.hasError('title')
              "
              class="form-error"
              >Enter Valid description</span
            >
          </div>
          <div class="form-group">
            <label for="comment-input" class="crop-info-label"
              >Description</label
            >
            <textarea
              name="comment-input"
              id="comment-input"
              rows="8"
              class="form-control"
              formControlName="description"
            ></textarea>
            <span
              *ngIf="
                cropStagingFormGroup.get('description')?.touched &&
                cropStagingFormGroup.get('description')?.hasError('description')
              "
              class="form-error"
              >Enter Valid description</span
            >
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
