<div class="title-main">
  <div class="title-left">
    <h2>User Management</h2>
    <h4>Total Number of Users: <span class="font-weight-bold">2344</span></h4>
  </div>
  <div class="title-right">
    <div class="search-form-wrap">
      <form action="#" class="form search-form">
        <div class="form-group">
          <input
            type="text"
            class="form-control form-control-small"
            placeholder="search"
          />
          <button type="submit" class="btn btn-searchsubmit">
            <img src="../../../assets/img/search.svg" alt="search" />
          </button>
        </div>
      </form>
    </div>

    <div class="filter-form-wrap">
      <div class="form form-inline">
        <div class="form-group">
          <button
            class="btn btn-small btn-main"
            data-bs-toggle="modal"
            data-bs-target="#filterBy"
          >
            Filter By
          </button>
        </div>
      </div>
    </div>

    <div class="create-new-wrap">
      <button class="btn btn-small btn-main" routerLink="create">
        <img
          src="../../../assets/img/add-circle-outline.svg"
          alt="create"
        />Create New User
      </button>
    </div>
  </div>
</div>

<div class="content-area">
  <div class="table-wrap table-responsive">
    <table class="table dashboard-table">
      <thead>
        <tr>
          <th scope="col" width="64">S. No</th>
          <th scope="col">Name</th>
          <th scope="col">Language</th>
          <th scope="col">Country</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Email</th>
          <th scope="col" id="actions" width="120"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users | paginate : config; index as i">
          <td scope="row">#{{ i + 1 }}</td>
          <td>
            <img src="{{ user.image }}" alt="user" class="user-thumbnail" />
            {{ user.first_name + user.last_name }}
          </td>
          <td>{{ user.language }}</td>
          <td>{{ user.country }}</td>
          <td>{{ user.phone_number }}</td>
          <td>{{ user.email }}</td>
          <td>
            <div
              class="btn-group btn-actions"
              role="group"
              aria-label="action buttons"
            >
              <button
                type="button"
                class="btn"
                id="edit"
                routerLink="edit/{{ user.id }}"
              >
                <img src="../../../assets/img/edit.svg" alt="edit" />
              </button>
              <button
                type="button"
                class="btn"
                id="edit"
                (click)="deleteUser(user.id)"
              >
                <img src="../../../assets/img/delete.svg" alt="delete" />
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <pagination-template
    #p="paginationApi"
    [id]="config.id!"
    (pageChange)="config.currentPage = $event"
  >
    <div class="pagenation-wrap">
      <nav aria-label="page Navigation">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="p.isFirstPage()">
            <a class="page-link" title="first">
              <img src="../../../assets/img/arrow-left.svg" alt=" " />
              <img src="../../../assets/img/arrow-left.svg" alt=" " />
            </a>
          </li>
          <li class="page-item" [class.disabled]="p.isFirstPage()">
            <a class="page-link" title="prev" (click)="p.previous()">
              <img src="../../../assets/img/arrow-left.svg" alt=" " />
            </a>
          </li>

          <li
            *ngFor="let page of p.pages"
            class="page-item"
            [class.active]="p.getCurrent() === page.value"
          >
            <a
              (click)="p.setCurrent(page.value)"
              class="page-link"
              *ngIf="p.getCurrent() !== page.value"
            >
              {{ page.label }}
            </a>
            <a *ngIf="p.getCurrent() === page.value" class="page-link">
              {{ page.label }}
            </a>
          </li>

          <li class="page-item" [class.disabled]="p.isLastPage()">
            <a class="page-link" title="next" (click)="p.next()">
              <img src="../../../assets/img/arrow-right.svg" alt=" " />
            </a>
          </li>
          <li class="page-item" [class.disabled]="p.isLastPage()">
            <a class="page-link" title="last">
              <img src="../../../assets/img/arrow-right.svg" alt=" " />
              <img src="../../../assets/img/arrow-right.svg" alt=" " />
            </a>
          </li>
        </ul>
      </nav>

      <div class="page-number">
        <span class="currentpage">{{ config.currentPage }}</span> of
        <span class="totalpage">{{ totalPaginationPages }}</span> pages
      </div>
    </div>
  </pagination-template>
</div>
