<div class="page-wrap login-wrap">
  <div class="container-fluid">
    <div class="row login-row justify-content-center">
      <div class="col intro-col">
        <p class="quote">
          Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor
          incididunt
          <span class="quote-user"> - MARTIN LUIZ</span>
        </p>
      </div>

      <div class="col form-col">
        <div class="login-form-wrap">
          <div class="logo-wrap mx-auto">
            <img
              src="../../../assets/img/logo.png"
              alt="farm360"
              class="mb-2"
            />
          </div>
          <form class="form">
            <div class="form-group">
              <h2 class="login-title">Login</h2>
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control form-control-large"
                placeholder="Email address"
                required
              />
            </div>

            <div class="form-group">
              <div class="password-toggle">
                <button class="btn btn-pwd-toggle">
                  <img src="../../../assets/img/icon-awesome-eye.svg" alt="#" />
                </button>
              </div>
              <input
                type="password"
                class="form-control password form-control-large"
                placeholder="Password"
                required
              />
            </div>

            <div class="form-group">
              <button class="btn btn-large btn-success">Login</button>
            </div>

            <div class="form-group text-center">
              <a href="#" class="password-reset">Forgot your password?</a>
            </div>
          </form>
        </div>

        <div class="terms-wrap">
          <p>
            <a class="terms-link">Terms of use. </a>
            <a class="terms-link">Privacy Policy</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
