<header class="dashboard-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-hamburger">
        <button class="btn btn-hamburger">
          <img src="../../../assets/img/hamburger.svg" alt="menu" />
        </button>
      </div>
      <div class="col col-logo">
        <img
          src="../../../assets/img/logo-white.png"
          alt="farm360"
          class="dashboard-logo my-auto"
        />
      </div>

      <div class="col right-sctn">
        <form action="#" class="form search-form">
          <div class="form-group">
            <input
              type="text"
              class="form-control form-control-medium"
              placeholder="search"
            />
            <button type="submit" class="btn btn-searchsubmit">
              <img src="../../../assets/img/search.svg" alt="search" />
            </button>
          </div>
        </form>

        <div class="notify-wrap">
          <img src="../../../assets/img/notification.svg" alt="#" />
          <div class="count"></div>
        </div>

        <div ngbDropdown class="profile-drop custom-drop">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            ngbDropdownToggle
          >
            <img src="../../../assets/img/drop_down.svg" alt="user" />
          </button>
          <div class="user-profile">
            <img src="{{ profile?.image ?? '' }}" alt="user" />
          </div>
          <div class="name-wrap">
            <span class="name">{{
              profile ? profile.first_name + " " + profile.last_name : ""
            }}</span>
            <!-- <span class="position">Founder</span> -->
          </div>
          <ul ngbDropdownMenu>
            <li ngbDropdownItem>Profile</li>
            <li ngbDropdownItem (click)="logout()">Logout</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
