$green-primary: #10AA1B;
$green-secondary: #084E0D;
$green-alt: #0A7212;

$red-primary: #FF2037;

$bg-lightblue : #E3EAF2;

/**
green shades
#188220
#10AA1B
#084E0D
#0A7212
#0B7E14
#0A4B0F

reds
#FF2037

bg shades
#E3EAF2
**/